.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebar-wrapper {
  padding: 20px;
}
.sidebar-wrapper h2 {
  color: rgb(138, 144, 149);
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0.5;
}

.sidebar-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-icon {
  margin-right: 15px;
}

.sidebar-button {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  opacity: 0.5;
}

.sidebar-hr {
  margin: 20px 0;
}

.sidebar-friend-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: static;
  }
  .sidebar-list,
  .sidebar-button,
  .sidebar-hr {
    display: none;
  }
}
